@use "media-query" as media;
@use "reset";

@font-face {
  font-family: "Dickson Regular";
  src: url(../fonts/dickson-regular.ttf);
}

@font-face {
  font-family: "Dickson Bold";
  src: url(../fonts/dickson-bold.ttf);
}

@font-face {
  font-family: "Punk Rotten";
  src: url(../fonts/punk-rotten.ttf);
}

body {
  display: flex;
  flex-direction: column;
  background-color: #4f4654;

  @include media.xs {
  }

  @include media.sm {
  }
  h1 {
    font-family: "Punk Rotten";
  }

  h2 {
    font-family: "Dickson Bold";
  }

  h3 {
    font-family: "Dickson Bold";
  }

  h4 {
    font-family: "Punk Rotten";
  }

  p {
    font-family: "Dickson Regular";
  }

  nav {
    padding-left: 1rem;
    position: fixed;
    display: flex;
    align-items: center;
    align-self: flex-end;
    z-index: 999;
    width: 100vw;

    @include media.xs {
      width: 50vw;
      margin-top: 2rem;
      background-color: transparent;

      flex-direction: column;
    }

    @include media.sm {
      width: 35vw;
      margin-top: 2rem;
      background-color: transparent;

      flex-direction: column;
    }

    .navbar {
      display: block;
      @include media.xs {
        width: 100%;
        display: flex;
        align-items: center;
        background-color: #4f1271;
        border-radius: 50px 0 0 50px;
      }

      @include media.sm {
        width: 100%;
        display: flex;
        align-items: center;
        background-color: #4f1271;
        border-radius: 50px 0 0 50px;
      }
    }

    #hamburger {
      display: none;
      color: #fff;
      font-size: 3rem;

      @include media.xs {
        display: block;
      }

      @include media.sm {
        display: block;
      }
    }

    #nav-items {
      display: flex;
      align-items: center;
      width: 100%;
      background-color: none;

      @include media.xs {
        display: none;
        background-color: #250835;
        flex-direction: column;
        align-self: flex-end;
        width: 80%;
        margin-top: 1rem;
        padding-top: 0.25rem;
        padding-bottom: 0.25rem;
      }

      @include media.sm {
        display: none;
        background-color: #250835;
        flex-direction: column;
        align-self: flex-end;
        width: 80%;
        margin-top: 1rem;
        padding-top: 0.25rem;
        padding-bottom: 0.25rem;
      }

      a {
        @include media.xs {
          text-align: right;
          width: 100%;
          background-color: #4f1271;
          align-self: flex-end;
          font-size: 2rem;
          padding: 1rem;
          margin-top: 0.25rem;
          margin-bottom: 0.25rem;
        }
        @include media.sm {
          text-align: right;
          width: 100%;
          background-color: #4f1271;
          align-self: flex-end;
          font-size: 2rem;
          padding: 1rem;
          margin-top: 0.25rem;
          margin-bottom: 0.25rem;
        }
      }
    }

    a {
      text-decoration: none;
      padding-right: 5rem;
      font-family: "Dickson Bold";
      color: #fff;
      font-size: 3rem;

      @include media.xs {
        padding-right: 0rem;
      }
      @include media.sm {
        padding-right: 0rem;
      }
    }

    img {
      width: 10rem;
      margin: 0;

      @include media.xs {
        width: 5rem;
        margin-left: 1rem;
        margin-top: 0.5rem;
        margin-right: 3rem;
      }

      @include media.sm {
        width: 5rem;
        margin-left: 1rem;
        margin-top: 0.5rem;
        margin-right: 5rem;
      }
    }
  }
  #overlay {
    @include media.xs {
      position: fixed; /* Sit on top of the page content */
      display: none; /* Hidden by default */
      width: 100%; /* Full width (cover the whole page) */
      height: 100%; /* Full height (cover the whole page) */
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: rgba(0, 0, 0, 0.5); /* Black background with opacity */
      z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
      cursor: pointer; /* Add a pointer on hover */
    }
    @include media.sm {
      position: fixed; /* Sit on top of the page content */
      display: none; /* Hidden by default */
      width: 100%; /* Full width (cover the whole page) */
      height: 100%; /* Full height (cover the whole page) */
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: rgba(0, 0, 0, 0.5); /* Black background with opacity */
      z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
      cursor: pointer; /* Add a pointer on hover */
    }
  }
  header {
    background-color: rgb(79, 70, 84);
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    max-height: 100vh;

    @include media.xs {
      grid-template-columns: 1fr;
    }

    @include media.sm {
      grid-template-columns: 1fr;
    }

    @include media.md {
      grid-template-columns: 1fr;
      max-height: 150vh;
    }

    img {
      margin-top: 10rem;
      max-width: 120%;
      display: flex;
      align-items: center;
      justify-content: center;
      background-attachment: fixed;

      @include media.xs {
        max-width: 100%;
      }

      @include media.sm {
        max-width: 100%;
      }

      @include media.md {
        max-width: 100%;
      }
    }

    .textbox {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      @include media.lg {
        padding-top: 8rem;
      }

      @include media.xl {
        padding-top: 10rem;
      }

      h1 {
        font-size: 7rem;
        color: #fff;
        margin-bottom: -1.5rem;

        @include media.xs {
          font-size: 6rem;
        }

        @include media.md {
          font-size: 8rem;
        }
      }
      h3 {
        color: #fff;
        font-size: 4rem;

        @include media.xs {
          font-size: 3rem;
        }
      }
      button {
        background-color: #4d285e;
        border: none;
        border-radius: 50px;
        font-family: "Dickson Bold";
        color: #fff;
        font-size: 3rem;
        padding: 1rem 7rem;

        @include media.xs {
          font-size: 2rem;
        }
      }
    }
  }

  .wave {
    background-image: url(../images/wave1.svg);
    aspect-ratio: 9 / 2;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  #about {
    background-color: #4f1271;
    color: #fff;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
    justify-items: center;

    padding-bottom: 5rem;

    @include media.xs {
      grid-template-columns: 1fr;
    }

    @include media.sm {
      grid-template-columns: 1fr;
    }

    @include media.md {
      grid-template-columns: 1fr;
    }

    .info {
      display: flex;
      flex-direction: column;
      width: 60%;

      @include media.xs {
        width: 80%;
        order: 1;
      }

      @include media.sm {
        width: 80%;
        order: 1;
      }

      @include media.md {
        width: 60%;
        order: 1;
      }

      h3 {
        font-size: 5rem;
      }

      p {
        font-size: 2rem;
      }
    }

    img {
      background-size: cover;
      width: 35rem;
      height: 35rem;

      @include media.xs {
        width: 25rem;
        height: 25rem;
        order: -1;
      }

      @include media.sm {
        width: 35rem;
        height: 35rem;
        order: -1;
      }

      @include media.md {
        width: 40rem;
        height: 40rem;
        order: -1;
      }
    }
  }

  .wave2 {
    background-image: url(../images/wave2.svg);
    aspect-ratio: 9 / 2;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  #listen {
    background-color: #250835;
    display: grid;
    color: #fff;
    grid-template-columns: 1fr 2fr 1fr 1fr;
    padding-bottom: 13rem;

    @include media.xs {
      grid-template-columns: 1fr;
      justify-content: center;
    }

    @include media.sm {
      grid-template-columns: 1fr;
      justify-content: center;
    }

    @include media.md {
      grid-template-columns: 1fr;
      justify-content: center;
    }

    h2 {
      grid-column-start: 4;
      justify-self: end;
      font-size: 8rem;
      bottom: 12rem;
      right: 15rem;
      position: relative;

      @include media.xs {
        position: static;
        grid-column-start: 1;
        justify-self: center;
      }

      @include media.sm {
        position: static;
        grid-column-start: 1;
        justify-self: center;
      }

      @include media.md {
        position: static;
        grid-column-start: 1;
        justify-self: center;
      }
    }

    img {
      grid-column-start: 2;
      display: flex;
      width: 80%;

      @include media.xs {
        grid-column-start: 1;
        justify-self: center;
      }

      @include media.sm {
        grid-column-start: 1;
        justify-self: center;
      }

      @include media.md {
        grid-column-start: 1;
        justify-self: center;
      }
    }

    .textbox {
      width: 100%;

      @include media.xs {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
      }

      @include media.sm {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
      }

      @include media.md {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
      }

      h4 {
        font-size: 6rem;

        @include media.xs {
          margin-top: 3rem;
        }

        @include media.sm {
          margin-top: 3rem;
        }

        @include media.md {
          margin-top: 3rem;
        }
      }

      p {
        font-size: 2.25rem;

        @include media.xs {
          font-size: 2rem;
        }

        @include media.sm {
          font-size: 3rem;
        }

        @include media.md {
          font-size: 3rem;
        }
      }

      img {
        margin-top: 2.5rem;
        width: 100%;

        @include media.xs {
          width: 80%;
          align-self: center;
          justify-self: center;
        }

        @include media.sm {
          width: 80%;
          align-self: center;
          justify-self: center;
        }

        @include media.md {
          width: 80%;
          align-self: center;
          justify-self: center;
        }
      }
    }
  }
}
