@use "media-query" as media;
@use "reset";

@font-face {
  font-family: "Dickson Regular";
  src: url(../fonts/dickson-regular.ttf);
}

@font-face {
  font-family: "Dickson Bold";
  src: url(../fonts/dickson-bold.ttf);
}

@font-face {
  font-family: "Punk Rotten";
  src: url(../fonts/punk-rotten.ttf);
}

body {
  display: flex;
  flex-direction: column;
  background-color: #4f4654;

  @include media.xs {
  }

  @include media.sm {
  }
  h1 {
    font-family: "Punk Rotten";
  }

  h2 {
    font-family: "Dickson Bold";
  }

  h3 {
    font-family: "Dickson Bold";
  }

  h4 {
    font-family: "Punk Rotten";
  }

  p {
    font-family: "Dickson Regular";
  }

  nav.sticking {
    background-color: #4f1271;
  }

  nav {
    padding-left: 1rem;
    position: fixed;
    display: flex;
    align-items: center;
    align-self: flex-end;
    z-index: 999;
    width: 100vw;

    transition: background-color 500ms;

    @include media.xs {
      width: 50vw;
      margin-top: 2rem;
      background-color: transparent;

      flex-direction: column;
    }

    @include media.sm {
      width: 35vw;
      margin-top: 2rem;
      background-color: transparent;

      flex-direction: column;
    }

    .navbar {
      display: block;
      @include media.xs {
        width: 100%;
        display: flex;
        align-items: center;
        background-color: #4f1271;
        border: 1px solid #746f9b;
        border-radius: 50px 0 0 50px;
      }

      @include media.sm {
        width: 100%;
        display: flex;
        align-items: center;
        background-color: #4f1271;
        border: 1px solid #746f9b;
        border-radius: 50px 0 0 50px;
      }
    }

    #hamburger {
      display: none;
      color: #fff;
      font-size: 3rem;

      @include media.xs {
        display: block;
      }

      @include media.sm {
        display: block;
      }
    }

    #nav-items {
      display: flex;
      align-items: center;
      width: 100%;
      background-color: none;

      @include media.xs {
        display: none;
        background-color: #250835;
        flex-direction: column;
        align-self: flex-end;
        width: 80%;
        margin-top: 1rem;
        padding-top: 0.25rem;
        padding-bottom: 0.25rem;
      }

      @include media.sm {
        display: none;
        background-color: #250835;
        flex-direction: column;
        align-self: flex-end;
        width: 80%;
        margin-top: 1rem;
        padding-top: 0.25rem;
        padding-bottom: 0.25rem;
      }

      a {
        @include media.xs {
          text-align: right;
          width: 100%;
          background-color: #4f1271;
          align-self: flex-end;
          font-size: 2rem;
          padding: 1rem;
          margin-top: 0.25rem;
          margin-bottom: 0.25rem;
        }
        @include media.sm {
          text-align: right;
          width: 100%;
          background-color: #4f1271;
          align-self: flex-end;
          font-size: 2rem;
          padding: 1rem;
          margin-top: 0.25rem;
          margin-bottom: 0.25rem;
        }
      }
    }

    a {
      text-decoration: none;
      padding-right: 5rem;
      font-family: "Dickson Bold";
      color: #fff;
      font-size: 3rem;

      @include media.xs {
        padding-right: 0rem;
      }
      @include media.sm {
        padding-right: 0rem;
      }

      @include media.md {
        padding-right: 3rem;
      }
    }

    img {
      width: 10rem;
      margin: 0;

      @include media.xs {
        width: 5rem;
        margin-left: 1rem;
        margin-top: 0.5rem;
        margin-right: 3rem;
      }

      @include media.sm {
        width: 5rem;
        margin-left: 1rem;
        margin-top: 0.5rem;
        margin-right: 5rem;
      }
    }
  }
  #overlay {
    @include media.xs {
      position: fixed; /* Sit on top of the page content */
      display: none; /* Hidden by default */
      width: 100%; /* Full width (cover the whole page) */
      height: 100%; /* Full height (cover the whole page) */
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: rgba(0, 0, 0, 0.5); /* Black background with opacity */
      z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
      cursor: pointer; /* Add a pointer on hover */
    }
    @include media.sm {
      position: fixed; /* Sit on top of the page content */
      display: none; /* Hidden by default */
      width: 100%; /* Full width (cover the whole page) */
      height: 100%; /* Full height (cover the whole page) */
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: rgba(0, 0, 0, 0.5); /* Black background with opacity */
      z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
      cursor: pointer; /* Add a pointer on hover */
    }
  }
  header {
    background-color: rgb(79, 70, 84);
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    max-height: 100vh;

    @include media.xs {
      grid-template-columns: 1fr;
    }

    @include media.sm {
      grid-template-columns: 1fr;
    }

    @include media.md {
      grid-template-columns: 1fr;
      max-height: 150vh;
    }

    img {
      margin-top: 10rem;
      max-width: 120%;
      min-width: 120%;
      display: flex;
      align-items: center;
      justify-content: center;
      background-attachment: fixed;

      @include media.xs {
        max-width: 100%;
      }

      @include media.sm {
        max-width: 100%;
      }

      @include media.md {
        max-width: 100%;
      }
    }

    .textbox {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      @include media.lg {
        padding-top: 8rem;
      }

      @include media.xl {
        padding-top: 10rem;
      }

      h1 {
        font-size: 7rem;
        color: #fff;
        margin-bottom: -1.5rem;

        @include media.xs {
          font-size: 6rem;
        }

        @include media.md {
          font-size: 8rem;
        }
      }
      h3 {
        color: #fff;
        font-size: 4rem;

        @include media.xs {
          font-size: 3rem;
        }
      }
      button {
        background-color: #4f1271;
        border: none;
        border-radius: 50px;
        font-family: "Dickson Bold";
        color: #fff;
        font-size: 3rem;
        padding: 1rem 7rem;

        @include media.xs {
          font-size: 2rem;
        }
      }
    }
  }

  .wave {
    background-image: url(../images/wave1.svg);
    aspect-ratio: 9 / 2;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  #about {
    background-color: #4f1271;
    color: #fff;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
    justify-items: center;

    padding-bottom: 5rem;

    @include media.xs {
      grid-template-columns: 1fr;
    }

    @include media.sm {
      grid-template-columns: 1fr;
    }

    @include media.md {
      grid-template-columns: 1fr;
    }

    .info {
      display: flex;
      flex-direction: column;
      width: 60%;

      @include media.xs {
        width: 80%;
        order: 1;
      }

      @include media.sm {
        width: 80%;
        order: 1;
      }

      @include media.md {
        width: 60%;
        order: 1;
      }

      h3 {
        font-size: 8rem;

        @include media.xs {
          font-size: 6rem;
        }

        @include media.sm {
          font-size: 6rem;
        }
      }

      p {
        font-size: 2rem;
      }
    }

    img {
      object-fit: cover;
      width: 35rem;
      height: 35rem;

      @include media.xs {
        width: 25rem;
        height: 25rem;
        order: -1;
      }

      @include media.sm {
        width: 35rem;
        height: 35rem;
        order: -1;
      }

      @include media.md {
        width: 40rem;
        height: 40rem;
        order: -1;
      }
    }
  }

  .wave2 {
    background-image: url(../images/wave2.svg);
    aspect-ratio: 9 / 2;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  #listen {
    background-color: #250835;
    display: grid;
    color: #fff;
    grid-template-columns: 1fr 2fr 1fr 1fr;

    @include media.xs {
      grid-template-columns: 1fr;
      justify-content: center;
      padding-bottom: 3rem;
    }

    @include media.sm {
      grid-template-columns: 1fr;
      justify-content: center;
      padding-bottom: 3rem;
    }

    @include media.md {
      grid-template-columns: 1fr;
      justify-content: center;
      padding-bottom: 3rem;
    }

    h2 {
      grid-column-start: 4;
      justify-self: end;
      font-size: 8rem;
      bottom: 12rem;
      right: 15rem;
      position: relative;

      @include media.xs {
        position: static;
        grid-column-start: 1;
        justify-self: center;
        font-size: 6rem;
      }

      @include media.sm {
        position: static;
        grid-column-start: 1;
        justify-self: center;
        font-size: 6rem;
      }

      @include media.md {
        position: static;
        grid-column-start: 1;
        justify-self: center;
        font-size: 6rem;
      }
    }

    img {
      grid-column-start: 2;
      display: flex;
      width: 80%;

      @include media.xs {
        grid-column-start: 1;
        justify-self: center;
      }

      @include media.sm {
        grid-column-start: 1;
        justify-self: center;
      }

      @include media.md {
        grid-column-start: 1;
        justify-self: center;
      }
    }

    .textbox {
      width: 100%;

      @include media.xs {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
      }

      @include media.sm {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
      }

      @include media.md {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
      }

      h4 {
        font-size: 6rem;

        @include media.xs {
          margin-top: 3rem;
        }

        @include media.sm {
          margin-top: 3rem;
        }

        @include media.md {
          margin-top: 3rem;
        }
      }

      p {
        font-size: 2.25rem;

        @include media.xs {
          font-size: 2rem;
        }

        @include media.sm {
          font-size: 3rem;
        }

        @include media.md {
          font-size: 3rem;
        }
      }

      img {
        margin-top: 2.5rem;
        width: 100%;

        @include media.xs {
          width: 80%;
          align-self: center;
          justify-self: center;
        }

        @include media.sm {
          width: 80%;
          align-self: center;
          justify-self: center;
        }

        @include media.md {
          width: 80%;
          align-self: center;
          justify-self: center;
        }
      }
    }
  }
  .wave3 {
    background-image: url(../images/wave3.svg);
    aspect-ratio: 9 / 2;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  #tour {
    min-height: 75vh;
    background-color: #4a4063;
    color: #fff;
    background-image: none;
    background-size: 30%;
    background-repeat: no-repeat;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-left: 10rem;
    justify-content: left;

    @include media.xs {
      grid-template-columns: 1fr;
      background-image: url(../images/lamp-portrait.png);
      background-size: 225%;
      background-position: center;
      padding-bottom: 30rem;
      padding-left: 0;
    }
    @include media.sm {
      grid-template-columns: 1fr;
      background-image: url(../images/lamp-portrait.png);
      background-size: 140%;
      background-position: center;
      padding-bottom: 25rem;
      padding-left: 0;
    }

    @include media.md {
      grid-template-columns: 1fr;
      background-image: url(../images/lamp-portrait.png);
      background-size: 120%;
      background-position: center;
      padding-bottom: 40rem;
      padding-left: 0;
    }

    .flexbox {
      display: flex;
      flex-direction: column;

      @include media.xs {
        color: #250835;
        align-items: center;
        justify-content: center;
        text-align: center;
      }

      @include media.sm {
        color: #250835;
        align-items: center;
        justify-content: center;
        text-align: center;
      }

      @include media.md {
        color: #250835;
        align-items: center;
        justify-content: center;
        text-align: center;
      }
      h2 {
        font-size: 8rem;
        margin-top: -8rem;
        margin-bottom: 3rem;

        @include media.xs {
          margin-top: 0;
        }

        @include media.sm {
          margin-top: 0;
        }

        @include media.md {
          margin-top: 0;

          font-size: 10rem;
        }
      }

      .textbox {
        display: flex;
        flex-direction: row;

        @include media.xs {
          flex-direction: column;
        }

        @include media.sm {
          flex-direction: column;
        }

        @include media.md {
          flex-direction: column;
        }

        p {
          font-size: 5rem;
          padding-right: 2rem;

          @include media.lg {
            font-size: 3rem;
          }
        }
      }

      button {
        margin-top: 2rem;
        width: 100%;
        background-color: #4f1271;
        border: none;
        border-radius: 150px;
        font-family: "Dickson Bold";
        color: #fff;
        font-size: 3rem;
        padding: 2rem;

        @include media.xs {
          padding: 2rem 7rem;
          font-size: 2rem;
        }

        @include media.sm {
          padding: 2rem 8rem;
        }

        @include media.md {
          padding: 2rem 12rem;
        }

        @include media.lg {
        }
      }
    }

    img {
      width: 90%;
      margin-top: -12rem;

      @include media.xs {
        display: none;
      }

      @include media.sm {
        display: none;
      }

      @include media.md {
        display: none;
      }

      @include media.lg {
        margin-top: -10rem;
      }
    }
  }

  .wave4 {
    background-image: url(../images/wave4.svg);
    aspect-ratio: 9 / 3;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    z-index: -1;
  }

  #shop {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #746f9b;
    color: #fff;

    h2 {
      align-self: flex-start;
      padding-left: 13.5rem;
      margin-top: -15rem;
      font-size: 8rem;

      @include media.xs {
        align-self: center;
        padding-left: 0;
        margin-top: 0;
      }

      @include media.sm {
        align-self: center;
        padding-left: 0;
        margin-top: 0;
        font-size: 10rem;
      }

      @include media.md {
        align-self: center;
        padding-left: 0;
        margin-top: 0;
        font-size: 11rem;
      }

      @include media.lg {
        padding-left: 4rem;
      }
    }

    h3 {
      align-self: flex-start;
      padding-left: 13.5rem;
      font-size: 5rem;
      margin-top: 5rem;

      @include media.xs {
        align-self: center;
        padding-left: 0;
        margin-top: 0;
      }

      @include media.sm {
        align-self: center;
        padding-left: 0;
        margin-top: 0;
        font-size: 6rem;
      }

      @include media.md {
        align-self: center;
        padding-left: 0;
        margin-top: 0;
        font-size: 8rem;
      }

      @include media.lg {
        padding-left: 4rem;
        margin-top: 2rem;
      }
    }
    .card-container {
      display: grid;
      gap: 3rem;
      grid-template-columns: repeat(3, 1fr);
      justify-content: center;
      align-content: center;

      @include media.xs {
        grid-template-columns: 1fr;
      }

      @include media.sm {
        grid-template-columns: 1fr;
      }

      @include media.md {
        grid-template-columns: 1fr;
      }

      .card {
        display: flex;
        flex-direction: column;
        align-items: center;
        img {
          width: 25rem;
          height: 25rem;
          object-fit: cover;

          @include media.sm {
            width: 30rem;
            height: 30rem;
          }

          @include media.md {
            width: 50rem;
            height: 50rem;
          }
        }

        h4 {
          font-family: "Dickson Regular";
          font-size: 3rem;

          @include media.sm {
            font-size: 4rem;
          }

          @include media.md {
            font-size: 5rem;
          }
        }

        p {
          font-size: 2rem;

          @include media.sm {
            font-size: 3rem;
          }

          @include media.md {
            font-size: 4rem;
          }
        }

        button {
          margin-top: 2rem;
          width: 100%;
          background-color: #4f1271;
          border: none;
          border-radius: 150px;
          font-family: "Dickson Bold";
          color: #fff;
          font-size: 3rem;
          padding: 1rem;

          @include media.sm {
            padding: 2rem;
          }

          @include media.md {
            padding: 2rem;
          }
        }
      }
    }
  }

  footer {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    background-image: url(../images/wave5.svg);
    aspect-ratio: 9 / 3;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    z-index: -1;

    div {
      color: #fff;
      font-family: "Dickson Regular";
      font-size: 3rem;
      padding-top: 18rem;
      padding-right: 5rem;

      @include media.xs {
        font-size: 1.5rem;
        padding-top: 6rem;
        padding-right: 1rem;
      }

      @include media.sm {
        font-size: 2rem;
        padding-top: 8rem;
        padding-right: 2rem;
      }

      @include media.md {
        padding-top: 12rem;
        padding-right: 3rem;
      }

      @include media.lg {
        padding-top: 15rem;
      }
    }
  }
}
